* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  background: linear-gradient(135deg, #053d52, #82d19a);
  display: flex;  
  justify-content: center;
  align-items: center;
}

.watch {
  background: rgb(79, 179, 201);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.outer {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  background: linear-gradient(145deg, #000, #333);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.inner {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #f2eee3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.2);
}

.text {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.outer:hover .text {
  transform: scale(1.05);
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background: #f2eee3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background: black;
  color: white;
  transform: translateY(-5px);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}
